<div class="reset-password-header">
  <h2>Reset Password</h2>
  <p>Enter your new password</p>
</div>
<div class="reset-password-container">
  <div class="reset-password-visual">
    <img src="assets/images/RIDGED.png" alt="Ridged text background" class="ridged-bg" />
    <img src="assets/images/10.png" alt="Ridged Energy Drink" class="can-image" />
  </div>
  <div class="reset-password-card">
    <form class="reset-password-form" [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
      <!-- New Password -->
      <div class="form-field">
        <label for="NewPassword">New Password</label>
        <p-iconfield iconPosition="left">
          <p-inputicon styleClass="pi pi-lock" />
          <p-password formControlName="NewPassword" id="newPassword" placeholder="Enter your new password" [toggleMask]="true"
            styleClass="w-full" [inputStyleClass]="'w-full'">
          </p-password>
        </p-iconfield>

        <small class="error-message" *ngIf="resetPasswordForm.get('NewPassword')?.touched">
          {{getErrorMessage('NewPassword')}}
        </small>
      </div>

      <!-- Confirm Password -->
      <div class="form-field">
        <label for="ConfirmPassword">Confirm Password</label>
        <p-iconfield iconPosition="left">
          <p-inputicon styleClass="pi pi-lock" />
          <p-password formControlName="ConfirmPassword" id="confirmPassword" placeholder="Confirm your new password"
            [toggleMask]="true" [feedback]="false" styleClass="w-full" [inputStyleClass]="'w-full'">
          </p-password>
        </p-iconfield>
        <small class="error-message" *ngIf="resetPasswordForm.get('ConfirmPassword')?.touched">
          {{getErrorMessage('ConfirmPassword')}}
        </small>
      </div>

      <!-- Submit Button -->
      <p-button type="submit" label="Reset Password" icon="pi pi-refresh" styleClass="w-full" [raised]="true"
        [disabled]="resetPasswordForm.invalid || isLoading">
      </p-button>

      <!-- Back to Login Link -->
      <div class="back-to-login-link">
        Remember your password? <a routerLink="/login">Sign In</a>
      </div>
    </form>
  </div>
</div>
